<section>
  <div class="py-5 d-flex justify-content-end me-5">
    <!-- <h3>Tasks</h3> -->
    <button class="primary px-3" (click)="addStudentDialoug()">
      <span class="fa-solid fa-plus mx-2"></span>
      <span>Add New student</span>
    </button>
  </div>
  <div class="table-card container">
    <div class="bg-whiteColor p-3">
      <div class="w-100">
        <!-- <mat-form-field class="bg-gray rounded-pill w-50">
          <mat-label>Select an option</mat-label>
          <mat-select
            [(ngModel)]="statusID"
            (selectionChange)="getAllTasks()"
            disableRipple
          >
            <ng-container *ngFor="let status of statusData">
              <mat-option [value]="statusData.indexOf(status)">{{
                status
              }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field> -->
        <!-- <h2>{{statusID}}</h2> -->
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>National ID</th>
        <!-- <th>Date Created</th> -->
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentsData">
          <!-- <td>{{ studentsData.ID }}</td>
          <td>
            <span
              class="status"
              [ngClass]="{
                ToDo: item.status == 'ToDo',
                InProgress: item.status == 'InProgress',
                Done: item.status == 'Done'
              }"
            >
              {{ item.status }}
            </span> -->
          <!-- </td> -->
          <!-- <td>{{ studentsData.Name }}</td>
          <td>{{ studentsData.Email }}</td>
          <td>{{ item.creationDate | date : "dd-MM-yyyy" }}</td>
          <td> -->

          <td>{{ student.ID }}</td>
          <td>{{ student.Name }}</td>
          <td>{{ student.Mobile }}</td>
          <td>{{ student.Email }}</td>
          <!-- <td>{{ student.NationalID }}</td> -->
          <!-- <td>{{ student.Age }}</td> -->
          <td>
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                [routerLink]="['/dashboard/manager/tasks/edit']"
              >
                <mat-icon>edit-square</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <!-- <mat-paginator
        [length]="tableData?.totalNumberOfRecords"
        [pageSizeOptions]="[5, 10, 50, 100]"
        [pageSize]="tableData?.pageSize"
        (page)="handlePageEvent($event)"
        [pageIndex]="pageIndex"
        aria-label="Select page"
      >
      </mat-paginator> -->
    </div>
  </div>
</section>

<!-- <section class="d-flex justify-content-center align-items-center py-5">
  <div class="page-header shadow-sm">
    <button class="primary">
      <span class="fa-solid fa-plus mx-2"></span>
      <span>Add New student</span>
    </button>
     <h3>Tasks</h3> -->
<!-- </div> -->
<!-- <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
           <th>Mobile</th> -->
<!-- <th>Email</th> -->
<!-- <th>National ID</th> -->
<!-- <th>Age</th> -->
<!-- </tr> -->
<!-- </thead> -->
<!-- <tbody> -->
<!-- <tr *ngFor="let student of studentsData"> -->
<!-- <td>{{ student.ID }}</td> -->
<!-- <td>{{ student.Name }}</td> -->
<!-- <td>{{ student.Mobile }}</td> -->
<!-- <td>{{ student.Email }}</td> -->
<!-- <td>{{ student.NationalID }}</td> -->
<!-- <td>{{ student.Age }}</td> -->
<!-- </tr> -->
<!-- </tbody> -->
<!-- </table> -->
<!-- </div>  -->
<!-- </section>  -->
