<section>
  <div class="py-5 d-flex justify-content-end me-5">
    <button class="primary px-3" (click)="addStudentDialoug()">
      <span class="fa-solid fa-plus mx-2"></span>
      <span>Add New student</span>
    </button>
  </div>
  <div class="table-card container">
    <div class="p-3">
      <!-- <div class="w-100"></div> -->
    </div>
    <table class="table table-striped ">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentsData">
          <td>{{ student.ID }}</td>
          <td>{{ student.Name }}</td>
          <td>{{ student.Mobile }}</td>
          <td>{{ student.Email }}</td>
          <td>
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/dashboard/students/edit',student.ID]">
                <mat-icon>edit-square</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <div></div>
  </div>
</section>
